import init.delta.usb.rc
on init
    exec /sbin/rec_input

on early-boot
    #pre hw config
    exec /sbin/sh /pre_hw_config.sh
    #boot into bootmenu
    exec /sbin/bootmenu

on post-fs
    exec /sbin/charger

on early-init
    export DOWNLOAD_CACHE /data/local/download
    export EXTERNAL_STORAGE /storage/sdcard0
    mkdir /storage 0050 system sdcard_r
    mkdir /storage/sdcard0 0000 system system
    # for backwards compatibility
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard0 /mnt/sdcard
    mkdir /sd-ext 0771 system system
    export SD_EXT_DIRECTORY /sd-ext

on post-fs-data
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    chmod 0660 /data/misc/wifi/wpa_supplicant.conf
    chown wifi.wifi /data/misc/wifi/wpa_supplicant.conf
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    setprop vold.post_fs_data_done 1
    mkdir /data/local/download 0771 system cache
    mkdir /cache/download 0771 system cache
    mkdir /cache/recovery 0771 system cache

on fs
    # We don't support encryption on yaffs
    setprop ro.crypto.state unsupported

on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug
    #radio fix
    mkdir /data/radio 0775 radio radio
    mkdir /data/radio/log 0775 radio radio
    # bluetooth power up/down interface
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /dev/ttyHS0
    chown system system /sys/bus/platform/devices/msm_sdcc.1/polling
    # USB Function framework
    #chown system system /sys/devices/platform/msm_hsusb_periphera/composition
    # USB Gadget framework
    chown system system /sys/devices/platform/android_usb/composition
    chown system system /sys/class/power_supply/battery/disable_charging
    chown system system /sys/devices/platform/i2c-adapter/i2c-0/0-0036/br::suspend
    chown system system /sys/devices/platform/i2c-adapter/i2c-0/0-0036/mode
    chown system system /sys/devices/i2c-0/0-0036/br::suspend
    chown system system /sys/devices/i2c-0/0-0036/mode
    chown system system /sys/devices/platform/mddi_hitachi_qvga/power_ctrl
    chown system system /sys/devices/platform/mddi_samsung_qvga/power_ctrl
    chown system system /sys/devices/platform/mddi_toshiba_hvga/power_ctrl
    chown system system /sys/devices/platform/mddi_hitachi_hvga/power_ctrl
    chown system system /sys/devices/platform/msm_pmic_misc_led.0/control::mode
    chown root system /proc/sysrq-trigger

    chmod 0220 /proc/sysrq-trigger
    chown system system /dev/seport_control
    chmod 0660 /dev/seport_control
    chown system system /dev/seport_plg_det
    chmod 0660 /dev/seport_plg_det
    chown system system /dev/seport_btn_det
    chmod 0660 /dev/seport_btn_det

#needed for lights
    chmod 0777 /sys/devices/virtual/misc/rgb_led/rgb_led/red:brightness
    chmod 0777 /sys/devices/virtual/misc/rgb_led/rgb_led/green:brightness
    chmod 0777 /sys/devices/virtual/misc/rgb_led/rgb_led/blue:brightness
    chmod 0777 /sys/devices/virtual/misc/rgb_led/rgb_led/frequency
    chmod 0777 /sys/devices/virtual/misc/rgb_led/rgb_led/pwm
    chmod 0777 /sys/devices/virtual/misc/rgb_led/rgb_led/blink
    chmod 0777 /sys/devices/virtual/misc/rgb_led/rgb_led/power
    chmod 0777 /sys/devices/platform/msm_fb/leds/lcd-backlight/brightness
    chmod 0777 /sys/devices/platform/msm_pmic_flash_led/cmaflash:enable
    chmod 0777 /sys/devices/platform/msm_pmic_flash_led/spotlight:enable
    chmod 0777 /sys/devices/platform/i2c-adapter/i2c-0/0-0036/br::intensity
    chmod 0777 /sys/devices/platform/i2c-adapter/i2c-0/0-0036/mode
    chmod 0777 /sys/devices/platform/msm_pmic_misc_led.0/brightness
    chmod 0777 /sys/devices/i2c-0/0-0036/br::intensity
    chmod 0777 /sys/devices/i2c-0/0-0036/mode

#needed for ril
    mkdir /data/radio 0777

# needed for sensors HAL:
    mkdir /etc/sensors 0777
    mkdir /dev/socket/sensors 0777 system system

# nvimport FIX
    mkdir /data/etc/ 0775
    mkdir /data/etc/wifi 0775

# Use interrupt to detect sd card insertion and removal
    write /sys/bus/platform/drivers/msm_sdcc/msm_sdcc.1/polling 0

on property:init.svc.bluetoothd=running
    write /sys/devices/virtual/bluetooth/hci0/link_supervision_timeout 6400
    write /sys/devices/virtual/bluetooth/hci0/idle_timeout 7000

service console_recovery /sbin/sh
    class core
    console
    user root
    group log

service qmuxd /system/bin/qmuxd
    class main

service hciattach /system/bin/hciattach -n /dev/ttyHS0 texas_new 3000000
    class main
    user bluetooth
    group qcom_oncrpc bluetooth net_bt_admin
    disabled
    oneshot

service akmd /system/bin/akmd2
    class main
    user compass
    group compass misc input system

service semc_chargalg /system/bin/semc_chargalg
    class main

service hw_config /system/xbin/nice -n -20 /system/bin/sh /system/etc/hw_config.sh
    class main
    user root
    oneshot

service post_hw_config /system/bin/sh /post_hw_config.sh
    class main
    user root
    oneshot

service wlan_loader /system/bin/wlan_loader -i /etc/wifi/tiwlan.ini -f /etc/wifi/tiwlan_firmware.bin -e /data/etc/wifi/fw
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant -Dtiwlan0 -itiwlan0 -c/data/misc/wifi/wpa_supplicant.conf
    socket wpa_tiwlan0 dgram 660 wifi wifi
    disabled
    oneshot

service hostapd /system/bin/hostap /data/misc/wifi/hostapd.conf
    class main
    socket wpa_wlan1 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_tiwlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot
    
service iprenew_tiwlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_bnep0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot
    
# Needed for touch support
service inputattach /system/bin/inputattach -cypress /dev/ttyHS1
    class main

# Needed for slidercounter
service slidercounter /system/bin/slidercounter mimmi_keypad
    class main

# Check touch FW
service ts_fw_update /system/bin/sh /system/etc/ts_fw_update.sh
    class main
    user root
    oneshot

service wlan_ap_loader /system/bin/tiap_loader.sh
    class main
    disabled
    oneshot

# Copy calibration data from NV to kernel drivers
service nvimport /system/bin/nvimport
    class main
    user root
    oneshot
